/* ==================================================================================
# contact
================================================================================== */
.contact {
  background-color: #d9dada;
  padding: 80px 0 110px;
  @include mq("sp") {
    padding: 40px 0;
  }
}
.contact__inner {
  display: flex;
  @include mq("sp") {
    display: block;
  }
}
.contact__left{
  min-width: 300px;
}
.contact__text {
  margin-top: 30px;
}
.contact__right {
  display: flex;
  width: 100%;
  @include mq("pc") {
    margin-left: 130px;
  }
  @include mq("sp") {
    display: block;
    margin-top: 30px;
  }
}
.contact__right-box {
  padding: 0;
  border: 1px solid #2f4666;
  max-width: 390px;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  @include mq("sp") {
    padding: 20px 30px;
  }
  &._tel {
    @include mq("sp") {
      max-width: 100%;
    }
    transition: opacity .3s;
    &:hover{
      opacity: .8;
    }
  }
  &._email {
    @include mq("pc") {
      margin-left: 30px;
    }
    @include mq("sp") {
      margin-top: 30px;
      max-width: 100%;
    }
    transition: opacity .3s;
    &:hover{
      opacity: .8;
    }
  }
}

.contact__right-text {
  color: $primary-color;
  text-align: center;
  margin-bottom: 20px;
}
.contact__right-link {
  &._tel {
    font-size: 26px;
    color: #2f4666;
    font-weight: bold;
    &::before {
      content: "";
      display: inline-block;
      background: url(../img/tel.png) center center/cover;
      width: 30px;
      height: 30px;
      margin-right: 10px;
      vertical-align: sub;
    }
    @include mq('sp'){
    min-height: 140px;
    }
  }
  &._email {
    font-size: 20px;
    color: #2f4666;
    // font-weight: bold;
    &::before {
      content: "";
      display: inline-block;
      background: url(../img/email.png) center center/cover;
      width: 35px;
      height: 25px;
      margin-right: 10px;
      vertical-align: sub;
    }
    @include mq('sp'){
      min-height: 140px;
      }
  }
}

/* ==================================================================================
# footer
================================================================================== */
.footer {
  background-color: #2f4666;
  padding: 80px 0;
  position: relative;
}
.footer .inner {
  @include mq("pc") {
    padding: 0 70px;
  }
}

.footer__wrapper {
  display: flex;
}
.footer__logo {
  width: 273px;
  @include mq('pc'){
  margin-top: 30px;
  margin-left: 17px;
  }
  @include mq("sp") {
    display: none;
  }
}
.footer__link {
  display: flex;
  @include mq("pc") {
    margin-left: 150px;
  }
  @include mq("sp") {
    width: 100%;
  }
}
.footer__left-list {
  @include mq("sp") {
    width: 65%;
  }
}
.footer__left-item {
  a {
    color: #fff;
      transition: opacity 300ms ease;
      &:hover{
          opacity: .6;
      }
  }
  & + & {
    font-size: 12px;
    margin-top: 6px;
    a {
      color: #ab9a81;
    }
  }
}
.footer__right-list {

  @include mq("pc") {
    margin-left: 120px;
  }
  @include mq("sp") {
    margin-left: 30px;
    width: 35%;
  }
}
.footer__right-item {
  & + & {
    margin-top: 20px;
    @include mq("sp") {
      margin-top: 0px;
    }
  }
  a {
    color: #fff;
    margin-top: 10px;
    transition: opacity 300ms ease;
    &:hover{
        opacity: .6;
    }
  }
}
.totop {
  a {
    color: #fff;
    transition: opacity 300ms ease;
    &:hover{
        opacity: .6;
    }
  }
  @include mq("pc") {
    margin-left: auto;
  }
  @include mq("sp") {
    position: absolute;
    right: 30px;
    bottom: 40px;
  }
}
.copyright {
  color: #fff;
  font-size: 12px;
  text-align: center;
}
