/* ==================================================================================
# mv
================================================================================== */
.mv {
  position: relative;
}
.swiper-containr {
  position: relative;
}
.swiper-slide {
  position: relative;
  img {
    width: 100%;
    max-height: 96vh;
    object-fit: cover;
  }
}
// ページネーションの位置を要変更

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 7%;
  left: 33%;
  width: 100%;
  @include mq("sp") {
    bottom: 9%;
  }
}

.swiper-pagination-bullet {
  background: #fff;
  height: 18px;
  margin: 0 10px !important;
  opacity: 1;
  position: relative;
  width: 18px;
  @include mq("sp") {
    margin: 0 6px !important;
    height: 10px;
    width: 10px;
  }
}

.swiper-pagination-bullet-active {
  background: #2f4666;
}

// 中央のスクロール
.scroll {
  display: inline-block;
  position: absolute;
  right: 50%;
  bottom: -10px;
  font-size: 12px;
  width: 45px;
  transform: translateY(-50%);
  z-index: 9;
}
.scroll-box {
  border-right: 1px solid #2f4666;
  position: absolute;
  display: inline-block;
  top: -20px;
  right: 50%;
  transform: translateY(-50%);
  height: 100px;
  @include mq("sp") {
    height: 60px;
  }
}
.scroll-text {
  color: #2f4666;
  position: absolute;
  top: -10px;
  right: -23px;
}
/* ==================================================================================
# message
================================================================================== */
.message {
  margin-top: 80px;
  @include mq("sp") {
    margin-top: 40px;
  }
}
.message__inner {
  display: flex;
  @include mq("sp") {
    display: block;
  }
}
.message__content {
  margin-right: 30px;
}

.message__title {
  font-size: 26px;
  margin-top: 45px;
}
.message__text {
  font-size: 16px;
  margin-top: 30px;
  line-height: 28px;
  @include mq("sp") {
    font-size: 14px;
  }
}
.message .util__button {
  margin-top: 60px;
}

.message__img {
  flex: 0 0 50%;
  margin-left: auto;
  margin-top: 15px;
  img {
    max-width: 100%;
  }
  @include mq("sp") {
    margin-top: 90px;
  }
}
/* ==================================================================================
# service
================================================================================== */
.service {
  padding: 110px 0 0 0;
  @include mq("sp") {
    padding: 60px 0 0 0;
  }
}
.service .inner {
}
.service__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.service__item {
  display: flex;
  flex-direction: column;
  padding: 40px 25px;
  border: 0.5px solid #000;
  margin-top: 30px;
  flex: 0 0 24%;
  @include mq("sp") {
    flex: 0 0 48%;
    padding: 20px 10px;
    margin-top: 5px;
    margin-bottom: 15px;
  }
}
.service__item-img {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 55px;
    height: 55px;
    object-fit: contain;
    @include mq("sp") {
      width: 55px;
      height: 55px;
    }
  }
}
.service__item-body {
  margin-top: 30px;
}
.service__item-title {
  font-size: 21px;
  text-align: center;
  @include mq("sp") {
    font-size: 16px;
    height: 50px;
  }
}
.service__item-en {
  font-size: 12px;
  margin-top: 10px;
  text-align: center;
  color: $primary-color;
  @include mq("sp") {
    height: 50px;
  }
}
.service__item-text {
  font-size: 14px;
  margin-top: 30px;
  line-height: 28px;
  margin-bottom: 20px;
  @include mq("sp") {
    font-size: 13px;
  }
}
.service .util__button {
  display: flex;
  justify-content: center;
  bottom: 0;
  margin-top: auto;
  .util-button-link {
    height: 100%;
    font-size: 26.6px;
    margin-top: 20px;
  }
}

/* ==================================================================================
# news
================================================================================== */
.news {
  padding: 110px 0 80px 0;
  @include mq("sp") {
    padding: 40px 0;
  }
}

.news__list {
  margin-top: 20px;
  @include mq("sp") {
    margin-top: 0px;
  }
}
.news__item {
  display: flex;
  border-bottom: 1px solid #000;
  line-height: 61px;
  width: 100%;
  transition: opacity .3s;
  &:hover{
    opacity: .6;
  }
  @include mq("sp") {
    display: block;
    line-height: 30px;
    padding: 14px 0 0 0;
  }
}
.news__meta {
  @include mq("sp") {
    width: 100%;
  }
}
.news__item-time {
  display: inline-block;
  @include mq("sp") {
    font-size: 16px;
  }
}
.news__item-label {
  margin-left: 50px;
  display: inline-block;
  @include mq("sp") {
    margin-left: 5px;
  }
  span {
    width: 100%;
    font-size: 13px;
    padding: 0.5em 1.2em;
    background-color: #d9dada;
    @include mq("sp") {
      font-size: 16px;
      padding: 1px 10px;
    }
  }
}
.news__main {
  @include mq("pc") {
    margin-left: 90px;
  }
}
.news__item-title {
  span {
    font-weight: 700;
  }
  @include mq("sp") {
    padding: 5px 0 2px 0;
    font-size: 18px;
  }
}
.news__item-text {
  overflow-wrap: break-word;
}
.news .util__button {
  margin-top: 30px;
  text-align: left;
}
.news-link {
  display: inline;
}
.news-link-more {
color: #5583A0;
border-bottom: 1px solid #5583A0;
margin-left: 10px;
}
