.inner {
  max-width: 1730px;
  margin: 0 auto;
  padding: 0 24px;
  @include mq("sp") {
    padding: 0 15px;
    margin: 0;
  }
}
.util__title-en {
  margin-bottom: 30px;
  color: #ae9d83;
  font-size: 14px;
  display: block;
  @include mq("sp") {
    font-size: 13px;
    margin-bottom: 0px;
  }
}
.util__title {
  font-size: 20px;
  line-height: 36px;
  color: #2f4666;
  font-weight: bold;
  @include mq("sp") {
    font-size: 18px;
  }
}
.util__button {
}
.util__button-link {
  display: inline-block;
  position: relative;
  text-align: center;
  color: #fff;
  background-color: #2f4666;
  border: none;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    color: #2f4666;
    background-color: #fff;
    outline: 1px solid #2f4666;
    &::after {
      border-right: solid 1px #2f4666;
      border-top: solid 1px #2f4666;
  }
}
}
// 詳細ボタン
.util__button-link._more{
  padding: 10px 50px 10px 30px;
  @include mq("sp") {
    padding: 5px 25px 5px 15px;
    max-width: 100%;
    max-height: 80px;
  }
  &::after {
    border-right: solid 1px #fff;
    border-top: solid 1px #fff;
    content: "";
    display: block;
    position: absolute;
    transform: translateY(-50%) rotate(45deg);
    top: 50%;
    right: 30px;
    height: 10px;
    width: 10px;
    @include mq("sp") {
      right: 10px;
    }
  }
  &:hover{
    &::after {
      border-right: solid 1px #2f4666;
      border-top: solid 1px #2f4666;
  }
  }
}
// 送信ボタン
.util__button-link._submit{
  padding: 10px 50px;  
  @include mq('sp'){
  padding:10px 30px
  }
}
/* ==================================================================================
# 共通ヘッダー
================================================================================== */
.common {
  margin-top: 190px;
  @include mq("sp") {
    margin-top: 80px;
  }
}
.common__inner {
  margin: 0 auto;
  @include mq("pc") {
    max-width: 1730px;
    padding: 0 24px;
  }
}
.common__header {
  display: flex;
  @include mq("sp") {
    display: grid;
  }
}
// タイトル
.common-header__box {
  width: 25%;
  @include mq("sp") {
    width: 100%;
    order: 2;
    padding: 0 15px;
  }
}
.common-header__title {
  margin-top: -20px;
  font-size: 26px;
  color: #2f4666;
  @include mq('pc'){
    position: absolute;
  }
  @include mq("sp") {
    margin-top: 40px;
    font-size: 18px;
  }
}
.common-header__title{
  img{
  }
}

// 画像
.common-header__img {
  text-align: right;
  width: 75%;
  img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    @include mq('sp'){
    height:180px;
    }
  }
  @include mq("sp") {
    order: 1;
    width: 100%;
  }
}
/* ==================================================================================
# 事業所概要/お問い合わせ/採用情報の共通レイアウト
================================================================================== */
.page-common__box {
  width: 25%;
  @include mq("sp") {
    width: 100%;
    margin: 0 auto;
  }
}
.page-common__main {
  width: 75%;
  margin-top: 72px;
  @include mq("sp") {
    width: 100%;
    display: block !important;
    margin-top: 30px;
  }
}
// 各セクション
.page-common__item {
  display: flex;
  padding: 80px 0;
  @include mq("sp") {
    display: block;
  }
}
// 代表メッセージと採用者メッセージ
.page-common__message-text {
  width: 50%;
  p {
    &:first-child {
      font-size: 26px;
      font-weight: bold;
    }
    &:nth-child(2) {
      font-size: 16px;
    }
  }
  @include mq("sp") {
    width: 100%;
    p {
      &:first-child {
        font-size: 15px !important;
        font-weight: bold !important;
      }
      &:nth-child(2) {
        margin-top: 10px !important;
        font-size: 15px !important;
      }
    }
  }
}
.page-common__message-pic {
  width: 37%;
  @include mq("sp") {
    width: 65% !important;
    width: 100%;
  }
}
